/* Fonts */

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared style */
.secondary-bg {
    background-color: #FFF8F3;
}

.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
}

.summary-section{
    height: 120px;
    margin-bottom: 20px;
}

/* button */
.btn-primary {
    background-color: #FD6E0A;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid;
    border: radius 5px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.text-center {
    text-align: center;
}

.text-small {
    font-size: small;
}

main section {
    margin-top: 52px;
    margin-bottom: 130px;
}

/* HEADER */
.header {

    background-image: url('../RESOURCES/images/developer.png'), url(../RESOURCES/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left top, bottom right;
    /* background-position:bottom right,  bottom right; */


}

/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0 200px;
}

.nav-title {
    font-size: 35px;
    font-weight: 800;
}

nav ul li {
    list-style: none;
    margin-right: 46px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

nav ul {
    display: flex;
    align-items: center;



}

/* Banner section */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;

}

.banner-content {
    max-width: 580px;

    .banner-profile {
        height: 676px;
        width: 584px;
    }
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 55px;
    font-weight: bold;
}

.banner-profile {
    width: 580px;
}

/* Main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About Section */
.about {
    border-radius: 15px;
    padding: 100px 115px;
    text-align: center;


}

.about-items {
    display: flex;
    justify-content: right;
    margin-top: 30px;
    text-align: left;
}


.item-title {
    text-align: center;
    margin-bottom: 0px;
}

.item-description {
    /* font-size: 24px; */
    font-weight: 400;
    margin-bottom: 0px;
}

/* Skill Section */
.skill-container {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* profile summary section */
.profile-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 115px;
    gap: 30px;

}

.profile-summary h6 {
    margin-top: 10px;
}

.profile-summary p {
    font-size: small;
}

.profile-download {
    text-align: center;
    margin-top: 20px;
}

/* footer section */

.connection {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 100px 115px;
}

.footer-column {
    width: 50%;
}

footer input[type="text"],
footer input[type="email"],
footer textarea {
    height: 24px;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: white;
    display: block;

}

/* responsive media query */
@media screen and (max-width: 576px) {
    .skill-container, 
    .profile-summary, 
    .banner,
    footer, 
    nav, 
    nav > ul,
    .about-items{
        flex-direction: column;
    }

    nav > ul{
        gap: 20px;
    }

    .btn-primary{
        margin-bottom: 20px;
    }

    .banner {
        margin: 20px;
    }

    .banner-profile{
        width: 100%;
    }

    .header{
        background-image: none;
    }

    footer, .about{
        padding: 20px;
    }

    .footer-column{
        width: 100%;
    }

    footer input[type="text"],  
    footer input[type="email"], 
    footer textarea{
        width: calc(100% - 40px);
    }
}

/* tablet specific media query */
@media screen and (min-width: 576px) and (max-width:990px) {
    .banner{
        flex-direction: column;
    }
}